<h4>{{answer.author}} - <em>{{answer.date}}</em></h4>
<p>"{{answer.content}}"</p>
<p>
  <span class="glyphicon glyphicon-pencil" {{action 'showEditAnswer'}}></span>&nbsp;
  <span class="glyphicon glyphicon-trash" {{action 'deleteAnswer' answer}}></span>
</p>
{{#if showEditAnswer}}
  {{edit-answer answer=answer}}
{{/if}}
